<section class="secLefAbout">
  <h2>Locations</h2>


  <div class="mySpot">

    <button type="button" name="button" data-location="seattle">seattle</button>
    <button type="button" name="button" data-location="fiji">Fiji</button>
    <button type="button" name="button" data-location="sapporo">Sapporo</button>
    <h4></h4>
  </div>

  <div id="map-canvas"></div>
</section>
<section class="secMidAbout">
  <h2>The Mission</h2>
  <p>
    Houston, Tranquillity Base here. The Eagle has landed.
  </p>
  <p>
    I believe every human has a finite number of heartbeats. I don't intend to waste any of mine
  </p>
  <p>
    The Earth was small, light blue, and so touchingly alone, our home that must be defended like a holy relic. The Earth was absolutely round. I believe I never knew what the word round meant until I saw Earth from space.
  </p>
  <p>
    If you could see the earth illuminated when you were in a place as dark as night, it would look to you more splendid than the moon.
  </p>
  <p>
    A Chinese tale tells of some men sent to harm a young girl who, upon seeing her beauty, become her protectors rather than her violators. That's how I felt seeing the Earth for the first time. I could not help but love and cherish her.
  </p>

</section>
<section class="secRightAbout">
  <div class="aboutimg">
    <img src="/images/starbucks-cat.jpg" alt="cat"/>
  </div>
  <div class="aboutimg">
    <img src="/images/camel.jpg" alt="camel" />
  </div>
  <div class="aboutimg">
    <img src="/images/darkspace.jpeg" alt="darkspace" />
  </div>

</section>
