<section class="imagePage">
  <h1>Photo's from the Past and Future</h1>
  <div class="pics">
    <div class="photos"><img src ='/images/218_space_beer (1).jpg'></div>
    <div class="photos"><img src ='/images/thumb_outer-space-1920x1200-hd-wallpaper_1024.jpg'></div>
    <div class="photos"><img src ='/images/outer-space_00399584-1 (2).jpg'></div>
    <div class="photos"><img src ='/images/thumb_3-outer-space-wallpaper_1024.jpg'></div>
  </div>
</section>
